extends layout
block content
  div.container
    div.panel.panel-default.col-sm-8
      h1(style='text-align: center; font-size: 200px; font-weight: bold; letter-spacing: 85px;') 404
    include common/right
  script(src='/javascripts/index.js')
  include common/footer
