{{ include common/admin-head }}
<link rel="stylesheet" href="/plugins/editormd/css/editormd.min.css">
<title>模板编辑 - 后台管理</title>
</head>
<body>
{{ include common/nav }}
<div class="container-fluid">
	<div class="col-sm-2">
		{{ include common/admin-left }}
	</div>
	<div class="container-fluid col-sm-10">
		<div class="col-sm-8">
			<div id="editormd">
				<textarea></textarea>
			</div>
			<button onclick="save()" class="btn btn-primary">保存模板文件</button>
		</div>
		<div class="container-fluid col-sm-4">
			<div id="tplfls" class="panel panel-default">
				<div class="panel-body">
				<ul>
				{{# for(var i=0;i<d.files.length; i++){ }}
					{{# if(d.files[i] instanceof Array){ }}
						{{# for(var j=0;j<d.files[i].length; j++){ }}
							<li><a href="#">{{ d.files[i][j] }}</a></li>
						{{# } }}
					{{# }else{ }}
						<li><a href="#">{{ d.files[i] }}</a></li>
					{{# } }}
				{{# } }}
				</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="readModal" tabindex="-1" role="dialog" data-backdrop="" data-keyboard="" class="modal fade">
	<div class="modal-dialog modal-sm">
		<div style="text-align:center;padding:30px;" class="modal-content">
			<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;加载中,请稍后...
		</div>
	</div>
</div>
<div id="saveModal" tabindex="-1" role="dialog" data-backdrop="" data-keyboard="" class="modal fade">
	<div class="modal-dialog modal-sm">
		<div style="text-align:center;padding:30px;" class="modal-content">
			<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;保存中,请稍后...
		</div>
	</div>
</div>
<div id="saveSuccessModal" tabindex="-1" role="dialog" class="modal fade">
	<div class="modal-dialog modal-sm">
		<div style="text-align:center;padding:30px;" class="modal-content">
			保存成功
		</div>
	</div>
</div>
<script src="/plugins/editormd/editormd.min.js"></script>
<script src="/javascripts/admin-template.js"></script>
{{ include common/footer }}
