{{ include common/head }}
<link rel="stylesheet" href="/stylesheets/markdown.css">
<link rel="stylesheet" href="/plugins/highlightjs/styles/github.css">
</head>
</body>
{{ include common/nav }}
<div class="am-container">
	<div class="at-title am-animation-slide-top">{{= d.article.title }}</div>
	<hr>
	<article class="markdown-body am-animation-fade">
		{{ d.article.content }}
	</article>
	<hr>
	<div class="at-detail am-animation-slide-top">
		<div class="at-item">
			<i class="fa fa-tags"></i>{{ d.article.tags }}
		</div>
		<div class="at-item">
			<i class="fa fa-tasks"></i>{{ d.article.categories }}
		</div>
		<div class="at-item">
			<i class="fa fa-user"></i>{{ d.article.name }}
		</div>
		<div class="at-item">
			<i class="fa fa-calendar"></i>{{ d.article.date }}
		</div>
	</div>
	<hr>
	{{# if(d.article.status){ }}
	<div id="SOHUCS" sid="{{ d.article.cid }}" ></div>
	<script type="text/javascript">
		(function(){
		var appid = 'cysUyQqE3';
		var conf = 'prod_6429a570f712f291b901d70e0312a216';
		var width = window.innerWidth || document.documentElement.clientWidth;
		if (width < 960) {window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
	</script>
	{{# } }}
	</div>

<footer>
{{ include common/footer }}
<script src="/plugins/highlightjs/highlight.pack.js"></script>
<script src="/javascripts/article.js"></script>
<script src="/javascripts/thumb2full.js"></script>
</footer>
</body>
</html>
