{{ include common/head }}
</head>
<body>
	{{ include common/nav }}
	<div class="am-container">
		<div class="am-g">
			<div class="am-u-lg-8">
				<div id="id-post">
					{{# for(var i=0; i<d.articles.length; i++){ }}
					<div class="am-animation-slide-top">
						<div class="id-title"><a href="/article/{{ d.articles[i].cid }}">{{= d.articles[i].title }}</a></div>
						<div class="id-detail">
							<div class="id-item">
								<i class="fa fa-user"></i><a href="/search/user/{{= d.articles[i].name }}">{{= d.articles[i].name }}</a>
							</div>
							<div class="id-item">
								<i class="fa fa-calendar"></i>{{= d.articles[i].date }}
							</div>
							<div class="id-item">
								<i class="fa fa-comments-o"></i>
								<span class="cmt_t" cid="{{ d.articles[i].cid }}" id="cmt_{{ d.articles[i].cid }}">0</span>
							</div>
						</div>
						<div>
							{{= d.articles[i].content }}
						</div>
					</div>
					<hr>
					{{# } }}
				</div>
				<div id="id-btn-more">
					加载更多
				</div>
			</div>
			<div class="am-u-lg-4">
			{{ include common/right }}
			</div>
		</div>
		<hr>
	</div>
	<footer>
	{{ include common/footer }}
	<script src="/javascripts/index.js"></script>
	</footer>
</body>
</html>
