.col-sm-2
  ul.btn-group-vertical(style='width:100%')
    a.btn.btn-default(href='/admin') 总览
    .btn-group
      button(tytype='button',class='btn btn-default dropdown-toggle',data-toggle='dropdown',aria-haspopup='true',aria-expanded='false') 文章
        span.caret
      ul.dropdown-menu
        li
          a(href='/admin/article') 文章列表
        li
          a(href='/admin/article/edit') 撰写文章
    .btn-group
      button(tytype='button',class='btn btn-default dropdown-toggle',data-toggle='dropdown',aria-haspopup='true',aria-expanded='false') 设置
        span.caret
      ul.dropdown-menu
        li
          a(href='/admin/template') 模板管理
          a(href='/admin/upload') 上传图片
