footer.container
  div.panel-body
    span &copy;&nbsp;2016&nbsp;
    a(href='http://www.zzliux.com' target='_blank') zzliux
    - if(reqTime){
      - var exeTime = ((new Date()).getTime() - reqTime)/1000
      span &nbsp;/&nbsp;Execution time #{exeTime}s
    - }
    span &nbsp;/&nbsp;湘ICP备15019597号-2&nbsp;/&nbsp;
    script.
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254930904'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254930904' type='text/javascript'%3E%3C/script%3E"));
  div.to-top-btn
    i.fa.fa-chevron-up
  script(src='/javascripts/script.js')