<!DOCTYPE html>
<html>
<head>
<title>{{ d.siteTitle }}</title>
<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/plugins/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugins/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/plugins/jquery/2.2.3/jquery.min.js"></script>
<script src="/plugins/bootstrap/3.3.5/js/bootstrap.min.js"></script>