<div class="cm-right">
	<div class="cm-right-title am-animation-slide-top">
		热评文章
	</div>
	<hr>
	<div class="cm-hot am-animation-slide-top">
		<ul data-range="monthly" data-num-items="5" class="ds-top-threads">
		</ul>
	</div>

	{{# if(d.categories){ }}
	<div class="cm-right-title am-animation-slide-top">
		分类目录
	</div>
	<hr>
	<div class="cm-cate am-animation-slide-top">
		<ul>
			{{# for(var key in d.categories){ }}
			<li><a href="/search/category/{{= key }}">{{= key }}</a>({{= d.categories[key] }})</li>
			{{# }  }}
		</ul>
	</div>
	{{# } }}
	{{# if(d.tags){ }}
	<div class="cm-right-title am-animation-slide-top">
		标签
	</div>
	<hr>
	<div id="id-tags" class="cm-tags am-animation-slide-top">
		{{# var s = [];
			for(var key in d.tags){
				s.push('<a href="/search/tag/' + key + '">' + key + '</a>');
			}
			var sout = s.join(', ');
		}}
		{{ sout }}
	</div>
	{{# } }}

	<div class="cm-right-title am-animation-slide-top">
		友链
	</div>
	<hr>
	<div class="cm-links am-animation-slide-top">
		<a href="http://iimx.net" target="_blank">iiMX</a>,&nbsp;
		<a href="http://www.itlife.top" target="_blank">贤德ACM队</a>,&nbsp;
		<a href="http://blog.csdn.net/liyongfan152" target="_blank">Aelsy</a>,&nbsp;
		<a href="http://www.changwei.me/" target="_blank">昌维的博客</a>,&nbsp;
		<a href="http://www.360www.cn/" target="_blank">艾维网页设计导航</a>,&nbsp;
		<a href="http://tangpeiliang.com/" target="_blank">唐佩良的博客</a>,&nbsp;
		<a href="http://www.nulll.me/" target="_blank">滥情's Blog</a>,&nbsp;
		<a href="http://blog.panshao.xyz/">panshao</a>
	</div>
</div>
