<div class="cm-right">
	{{# if(d.categories){ }}
	<div class="cm-right-title am-animation-slide-top">
		分类目录
	</div>
	<hr>
	<div class="cm-cate am-animation-slide-top">
		<ul>
			{{# for(var key in d.categories){ }}
			<li><a href="/search/category/{{= key }}">{{= key }}</a>({{= d.categories[key] }})</li>
			{{# }  }}
		</ul>
	</div>
	{{# } }}
	{{# if(d.tags){ }}
	<div class="cm-right-title am-animation-slide-top">
		标签
	</div>
	<hr>
	<div id="id-tags" class="cm-tags am-animation-slide-top">
		{{# var s = [];
			for(var key in d.tags){
				s.push('<a href="/search/tag/' + key + '">' + key + '</a>');
			}
			var sout = s.join(', ');
		}}
		{{ sout }}
	</div>
	{{# } }}

	<div class="cm-right-title am-animation-slide-top">
		友链
	</div>
	<hr>
	<div class="cm-links am-animation-slide-top">
		<a href="http://iimx.net" target="_blank">iiMX</a>,&nbsp;
		<a href="http://www.itlife.top" target="_blank">贤德ACM队</a>,&nbsp;
		<a href="http://blog.csdn.net/liyongfan152" target="_blank">Aelsy</a>,&nbsp;
		<a href="http://www.360www.cn/" target="_blank">艾维网页设计导航</a>,&nbsp;
		<a href="http://www.nulll.me/" target="_blank">滥情's Blog</a>,&nbsp;
		<a href="http://blog.teemo.pub/" target="_blank">panshao</a>,&nbsp;
		<a href="http://www.copyfu.com/" target="_blank">闲来找茶的博客</a>,&nbsp;
		<a href="http://blog.maskerphp.cc" target="_blank">Masker&#x27;Blog</a>,&nbsp;
		<a href="http://xxmodd.com/" target="_blank">xxmodd's blog</a>,&nbsp;
		<a href="http://www.junphp.com/Blog/" target="_blank">野生程序员 | 小黄牛的个人博客</a>
		<a href="http://www.anacg.com" target="_blank">小历的博客</a>
	</div>
</div>
